@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  object-fit: contain;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
}

body {
  background-color: rgb(61, 126, 126);
}

input {
  color: black;
  font-size: 16px;
  padding: 5px;
}

button {
  padding: 5px;
  font-size: 16px;
  color: black;
  border: 0;
  min-width: 75px;
}

button:hover {
  cursor: pointer;
  background-color: white;
}

header {
  padding: 10px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.644);
}

.user-area,
.chat-area {
  margin: 5px;
  padding: 5px;
}

.user-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

p {
  margin: 20px 0;
  border-radius: 7px;
  padding: 5px;
  line-height: 25px;
  background-color: rgb(99, 167, 167);
  overflow-y: auto;
  height: 230px;
  font-size: 14px;
}
